:root {
  --spacer: 1rem;
  /*--ff-sans: font-family: "Rubik", sans-serif;*/

  /* small screen font-sizes */

  --fs-100: 1rem;
  --fs-200: 1.2rem;/*12px*/
  --fs-300: 1.3rem;
  --fs-400: 1.4rem; /*14px*/
  --fs-500: 1.5rem;
  --fs-600: 1.6rem; /*16px*/
  --fs-700: 1.7rem;
  --fs-800: 1.8rem; /*18px*/
  --fs-900: 1.9rem;
  --fs-110: 2rem; /*20px*/
  --fs-111: 2.1rem;
  --fs-112: 2.2rem; /*22px*/
  --fs-114: 2.4rem; /*24px*/
  --fs-116: 2.6rem; /*26px*/
  --fs-118: 2.8rem; /*28px*/
  --fs-120: 3rem; /*30px*/
  --fs-122: 3.2rem; /*32px*/
  --fs-124: 3.4rem; /*34px*/
  --fs-126: 3.6rem; /*36px*/
  --fs-128: 3.8rem; /*38px*/
  --fs-130: 4rem;
  --fs-132: 4.2rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --clr-primary-100: #ffffff;/*all the white stuff*/
  --clr-secondary-700: #0e1111;
  --clr-secondary-800: #0f0a33;/*dark blue bg, heading + pricing all text*/

  --clr-neutral-200: #fdf2e9;
  --clr-neutral-300: #bcbac4; /*greyish text on most <p>texts*/
  --clr-neutral-400: #707d76;/* text color on flexibel/exper in hero*/
  --clr-neutral-500: #6b687b; /*name of course creator text*/
  --clr-neutral-600: #848695;/*Flex/Exp tick boxes*/
  --clr-neutral-800: #555555;/*sign in btn/membship Easily..flexibl headimgs etc/test heading name + plan member txt*/

  --clr-bg-200:  #f1f1f1;
  --clr-bg-300: #e2f6eb;/*bg header/hero/membership*/
  

  --clr-accent-600: #3dc37a; /*for green btns*/
  --clr-accent-700: #edc846;/*for yellow text*/
  --clr-accent-800: #DA4A2B;


 


  

  --br-100: 1rem;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
  --box-shadow-200: 0 2.4rem 4.8rem rgba(5, 2, 2, 0.15);
  --box-shadow-300: 0 1px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-400: 0 0 0 0.15rem #3dc37a;
  --box-shadow-500: 10px 10px 5px #ccc;

  /*Zells here*/

  --color-default-state: grey;
  --color-hover-state: rgb(107, 107, 195);
  --color-selected-state: rgb(17, 26, 101);
}






/******* Reset ********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
i,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*****/

/*******************
 The hidden attribute
 *******************/
 [hidden] {
  display: none !important;
}

/*******************
 Noscript
 *******************/
 
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

[tabindex="-1"] {
  outline: none !important;
}





/***************/

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

/***tablets 700ish px****/

@media (min-width: 40em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

}

/*** landscape tablets 944px***/
@media (min-width: 59em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {
  html {
    /* 10px / 16px */ 
    font-size: 62.25%;
  }
}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {
  html {
    /* 11px / 16px */ 
    font-size: 68.75%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  
  color: var(--clr-secondary-700);
  line-height: 1;
  font-weight: 400;
  
}



/***** Typography *********/

a {
  text-decoration: none;
}

span {
  color: var(--clr-accent-700);
}



.section-title {
  color: var(--clr-secondary-800);
  font-weight: var(--fw-700);
  font-size: var(--fs-122);
}

.section-title-light {
  font-weight: var(--fw-700);
  font-size: var(--fs-124);
}

.text {
  
  font-size: var(--fs-800);
  text-align: center;
  line-height: 1.5;
}

.text-black {
  color: var(--clr-secondary-800);
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
}

.text-grey {/*if no other has same then move this compo membership*/
  color: var(--clr-neutral-600);
  font-size: var(--fs-800);
  font-weight: var(--fw-400);
  line-height: 1.8;
}

.text-light {
  color: var(--clr-primary-100);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.name {
  color: var(--clr-secondary-800);
}

/***** Utility Classes *****/



.bg-light {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-800);
}

.bg-blue {
  background-color: var(--clr-secondary-800);
  color: var(--clr-primary-100);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.9em 2em;
  border-radius: 1.8em;
  font-weight: 700;
  font-size: var(--fs-800);
  
}

.btn-accent {
  background-color: var(--clr-accent-600);
  color: var(--clr-primary-100);
  transition: all .5s;
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--clr-accent-700);
}

.btn-light {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-800);
  transition: all .5s;
}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--clr-neutral-200);
}



/***** General Layout *****/

/*.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 2em;
}*/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

section {
  margin-bottom: 7rem;
}


.flow-content > * + *{
  margin-top: 5rem;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}







/****** Components **********/

/* header */

.header {
  background-color: var(--clr-bg-300);
  padding-bottom: 5rem;
}

.primary-header {
  max-width: 120rem;
  padding: 2rem 3.2rem;
  /*max-width: 50rem;*/
  margin: 0 auto;
  /*padding: 2em 2.2em;*/
  
}

.primary-nav {
  display: none;
}

.large-screen {
  display: none;
}

.current {
  border-bottom: 2px solid var(--clr-secondary-800);
}

.logo {
  width: 8rem;
  height: 8rem;
  transition: all ease-in-out 5s;
}

.logo:hover,
.logo:focus {
  width: 8.5rem;
  height: 8.5rem;
}

/* hamburger */

.open-nav {
  border: 0;
  background: 0;
  color: var(--clr-secondary-800);
  cursor: pointer;
  padding: .5em;
  margin-left: auto;/*not sure if need this*/
  font-size: 3.7em;
  align-self: flex-start;
  margin-bottom: auto;
  transition: all ease-in-out 2s;
}

.open-nav:hover,
.open-nav:focus {
  font-size: 4em;
}

.menu-nav {
  position: fixed;
  background: var(--clr-bg-300);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
  height: 100%;
  z-index: 3;
}

.navigation-open {
  transform: translateX(-100%)
}

.nav-link {
  color: var(--clr-secondary-800);
  font-size: var(--fs-110);
  font-weight: var(--fw-700);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-neutral-800);
  font-weight: var(--fw-700);
}

.menu-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0; 
  align-items: center;
  justify-content: space-between;
}


.close-nav {
  border: 0;
  background: 0;
  color: var(--clr-secondary-800);
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  padding: .5em;
  /*position: absolute;*/
}

/***tablets ****/

@media (min-width: 40em) {

  

  .primary-nav,
  .large-screen {
    display: block;
  }

  .open-nav {
    display: none;
  }

  .primary-nav {
   margin-left: 5em;
   
    
  }

  .primary-nav-list {
    display: flex;
    gap: 2.5em;
    
  }

  .nav-link {
    transition: all .5s;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--clr-neutral-600);
    font-weight: var(--fw-700);
    font-size: var(--fs-112);
  }

  .current {
    transition: all .5s;
  }
  .current:hover,
  .current:focus {
    border-bottom: 2px solid var(--clr-neutral-600);
  }

  
  
  
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {

  
  

  
}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}

/* hero */

.hero {
  background-color: var(--clr-bg-300);
  padding-bottom: 3rem;
  
}

.main-hero {
  display: flex;
  flex-direction: column;
  gap: 2em;
  
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 5em 0;
  
}


.heading {
  color: var(--clr-secondary-800);
  font-weight: var(--fw-700);
  font-size: var(--fs-130);
  text-align: center;
  letter-spacing: .1em;
  line-height: 1.2;
  
}





.hero-btns {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  
}

.check-items {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  margin-bottom: 3.5em;
}

.check-item {
  display: flex;
  gap: 1em;
}

.check-item i {
  font-size: var(--fs-800);
  color: var(--clr-neutral-600);
}

.check-item p {
  font-size: var(--fs-800);
  color: var(--clr-neutral-600);
}

.offer {
  background-color: var(--clr-bg-300);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}



.offer-item {
  background-color: var(--clr-secondary-800);
  padding: 6rem 4rem;
  flex-basis: 100%;
  text-align: center;
  border-radius: var(--br-100);
  
}

.offer-item:nth-last-child(4) {
  display: none;
}

.offer i {
  color: var(--clr-primary-100);
  background-color: var(--clr-accent-600);
  font-size: var(--fs-800);
  padding: 1em;
  border-radius: 50%;
  margin-bottom: .5em;
  
  display: inline-block;
  
}

.offer p {
  font-size: var(--fs-800);
  text-align: center;
  line-height: 1.4;
  padding-top: .5em;
}

/*hero images */

.overlapping ul {

  max-width: 50rem;
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 3fr;


}

.hero-img-container {
  width: 100%;
}

.overlapping li:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  z-index: 1;
}

.overlapping li:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;


}

.overlapping li:nth-child(3) {
  grid-row: 3 / span 3;
  grid-column: 3 /span 2;
}

.hero-img-1 {
  border-radius: 5px 40px 40px 5px;
  box-shadow: var(--box-shadow-500);
}

.hero-img-2 {
  border-radius: 5px;
  box-shadow: var(--box-shadow-500);
}

.hero-img-3 {
  border-radius: 40px 5px 5px 5px;
  box-shadow: var(--box-shadow-500);
}



/***tablets ****/

@media (min-width: 40em) {

  .main-hero {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-content {
    flex-basis: 50%;
    
    
  }

  .hero-content p {
    text-align: left;
  }

  .heading {
    text-align: left;
  }

  .hero-btns {
    justify-self: left;
  }

  .check-items {
    justify-self: left;
  }

  .overlapping {
    flex-basis: 50%;
  }

  .offer {
    justify-content: space-between;
  }
  .offer-item {
    flex-basis: 48%;
    width: calc(100% / 2);
    padding: 6rem 4rem;
  }
  .offer-item:nth-last-child(4) {
    display: block;
  }

  

  
}

/*** hero content on larger screens 927px***/
@media (min-width: 43em) {
  
  .hero-content {
    align-self: center;
  }
  

}

/*** landscape tablets 944px***/
@media (min-width: 59em) {
  
  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}





/* courses */



.courses-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1rem;
}

.course {
  text-align: left;
  flex: 1 1 100%;/*%needs to change when larger screens*/
  display: flex;
  justify-content: space-around;
  border-radius: 0.5em;
  align-items: center;
  padding: 1em 0em 1em 0em;
  margin: 1em auto;
  max-width: 90%;
  transition: all ease-in-out 1s;
  transform-origin: center center;

}

.course:hover,
.course:focus {
  background-color: var(--clr-neutral-200);
  cursor: pointer;
  transform: scale(1.2, 1.1);
  box-shadow: var(--box-shadow-300);
 
}


.courses-heading {
  position: relative;
}

.courses-heading::before {
  content: "";
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  background: var(--clr-accent-700);
  border-radius: 50%;
  z-index: -1;
  top: 2px;
  left: -15px;
}


.courses .btn-light {
  font-size: var(--fs-110);
}

 .course-img {
  width: 11rem;
  height: 8rem;
  border-radius: 0.25em;
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.course .name {
  font-size: var(--fs-400);
}


.course-author {
  color: var(--clr-neutral-800);
  font-size: var(--fs-300);
  padding-bottom: .5em;
}

.course-info-bottom .full-star {
  color: var(--clr-accent-700);
  font-size: var(--fs-200);
}

.course-info-bottom .empty-star {
  color: var(--clr-neutral-300);
  font-size: var(--fs-200);
  
}

.course-info-bottom .comments {
  color: var(--clr-neutral-300);
  font-size: var(--fs-200);
  padding-top: .3em;
}

/***tablets ****/

@media (min-width: 40em) {
  .course {
    flex-basis: 48%;
  }
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {
  .course {
    flex-basis: 25%;
  }
  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}


/* membership */

.membership {
  background-color: var(--clr-bg-300);
  padding: 6rem 0;
  
}

.membership-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 3em;
  text-align: center;
}

.membership-info {
  padding-bottom: 2em;
}


.perks-boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  flex-basis: 100%;
}

.box:last-child {
  box-shadow: var(--box-shadow-200);
}

.box {
  padding: 4em;
  box-shadow: var(--box-shadow-300);
  border-radius: var(--br-100);
}

.box i {
  font-size: var(--fs-800);
  color: var(--clr-primary-100);
  background-color: var(--clr-accent-700);
  padding: 1em;
  border-radius: 50%; 
  margin-bottom: 1em;
}

.box .text-black {
  font-size: var(--fs-800);
  font-weight: var(--fw-600);
  margin-bottom: 1em;
  line-height: .8;
}

.box .text-grey {
  font-size: var(--fs-700);
  line-height: 1.4;
}


/***tablets ****/

@media (min-width: 40em) {

.perks-boxes {
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}
 
}


/*** landscape tablets 944px***/
@media (min-width: 59em) {

  .membership-container {
    flex-direction: row;
    gap: 7em;
    text-align: left;
  }

  .perks-boxes {
    flex-basis: 56%;
    text-align: center;
    
  }

  .box {
    
  }

  .membership-info {
    flex-basis: 35%;
  }
  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}


/* testimonials */

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: center;
}

.testimonial-heading {
  text-align: center;
  
}

/*Carousel*/

.carousel {
  width: 100%;
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: 15rem 3em;
  align-items: center;
  grid-gap: 1em;
  box-shadow: var(--box-shadow-200);
  border-radius: 10px;
}

.carousel > *:nth-child(2) {
  grid-column: 2;
  align-self: stretch;
}

.carousel-contents {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-contents-container {
  overflow: hidden;
}

.carousel-slide {
  background-color: var(--clr-primary-100);
  border-radius: 5px;
  padding: .7em;
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel-slide img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: center center;
}

/**
 * Buttons
 */

.carousel-button {
  border: none;
  padding: 0.75em .5em;
  border-radius: 0;
  line-height: 1;
  background-color: transparent;  
}  

.carousel-button svg {
  fill: var(--color-default-state);
}

.carousel-button:hover svg,
.carousel-button:active svg {
  fill: var(--color-hover-state);
}

.carousel-button.is-hidden {
  display: none;
}

.carousel-slide .member {
  display: flex;
}

.carousel .member-details {
  margin-top: auto;
  margin-bottom: auto;
}

.carousel blockquote {
  font-size: var(--fs-400);
  margin-left: 0;
  line-height: 1.3;
}

.carousel .member {
  display: flex;
  gap: 1em;
}

.carousel .name {
  font-size: var(--fs-600);
  margin-bottom: .3em;
}

/**
 * Dots
 */
.carousel-dots {
  grid-column: 1 / -1;
  justify-self: center;
}

.carousel-dot {
  border: none;
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 100%;
  background-color: var(--color-default-state);
}

.carousel-dot + .carousel-dot {
  margin-left: 1em;
}

.carousel-dot:hover {
  background-color: var(--color-hover-state);
}

.carousel-dot.is-selected {
  background-color: var(--color-selected-state);
}

.is-hidden {
  display: none;
}

/***tablets ****/

@media (min-width: 40em) {

  .testimonials-container {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: space-between;
    align-items: center;
  }

  .testimonial-heading {
    flex-basis: 46%;
    position: relative;
  }

  .testimonial-heading::before {
    content: "";
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    background: var(--clr-accent-600);
    border-radius: 50%;
    z-index: -1;
    top: -10px;
    left: 0px;
  }

  .testimonial-heading .section-title {
    font-size: var(--fs-122);
  }
  
  .testimonial-heading,
  .testimonial-heading p {
    text-align: left;
  }

  /*******/
  .carousel {
    flex-basis: 54%;
  }
  
  .carousel-slide {
    padding: 2em 0 2em 4em;
  }
}

/*** landscape tablets 944px***/
@media (min-width: 47em) {

  
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {

  
}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {
  
}





/* featured-in */

.featured-in {
  
  padding: 2rem;
}

.features {
  display: flex;
  justify-content: space-around;
}

.featured-img {
  /*width: 5rem;
  height: 3rem;*/
  height: 3.2rem;
  filter: brightness(0);
  opacity: 70%;
}

/***tablets ****/

@media (min-width: 40em) {
  .featured-img {
    
    height: 4rem;
    
  }
  
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {
  .featured-img {
    
    height: 5.2rem;
    
  }
  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {
  .featured-img {
    
    height: 6rem;
    
  }
  
}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}


/* plans */

.plans {
  background-color: var(--clr-secondary-800);
  padding-bottom: 3rem;
  box-shadow: var(--box-shadow-500);
}

.plans-header {
  color: var(--clr-primary-100);
  font-size: var(--fs-800);
  font-weight: var(--fw-400);
  text-align: center;
  padding: 5rem 0;
}

.all-plans {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.plan {
  background-color: var(--clr-primary-100);
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: var(--br-100);
  
  padding: 4em .3em 7em .3em;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  
}

.plan h5 {
  font-size: var(--fs-110);
}


.cost {
  color: var(--clr-secondary-800);
  font-size: var(--fs-130);
  font-weight: var(--fw-700);
}

.plan .plans-span {
  color: var(--clr-secondary-800);
  font-size: var(--fs-400);
  font-weight: var(fw-400);
}

.plan-detail {
  display: flex;
  gap: 2em;
  line-height: 2;
}

.plan-detail i {
  font-size: var(--fs-200);
  display: inline-block;
  line-height: 2;
}

.plan-detail .red {
 background-color: var(--clr-primary-100);
 color: var(--clr-accent-800);
 font-size: var(--fs-200);
}




/***tablets ****/

@media (min-width: 40em) {
  .all-plans {
    
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .plan {
    
    flex-basis: 33%;
    
    
    
  }
  
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {

  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}


/* Join */


.join-grid {
  display: grid;
  grid-template-columns: 1fr;
  
  background-color: var(--clr-bg-300);
  box-shadow: var(--box-shadow-200);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, var(--clr-accent-600), var(--clr-bg-300));
  overflow: hidden;
  
}

.join-heading {
 margin-bottom: 1em;
}

.join-container {
  box-shadow: var(--box-shadow-300);
}


.join-content {
 font-size: var(--fs-400);
 font-weight: var(--fw-500);
 padding: 5rem; 
}




.join-form {
  display: grid;
  grid-template-columns: 1fr;
  
  gap: 1em 1.5em;
}



.join-form label {
  display: block;
  font-size: var(--fs-600);
  font-weight: 700;
  line-height: 1.3;
  margin: .5em 0em .6em 0em;
}

.join-text {
  margin-top: 1.5em;
  font-size: var(--fs-800);
  line-height: 1.2;
}

.join-form input,
.join-form select {
  width: 100%;
  padding: .5em .6em;
  font-size: var(--fs-400);
  
  color: inherit;
  border: none;
  background-color: var(--clr-neutral-200);
  border-radius: 9px;
  box-shadow: var(--box-shadow-300);
}

.join-form input::placeholder {
  color: var(--clr-neutral-400);

}


.join-form button {
  display: inline-block;
  align-self: center;
  text-decoration: none;
  color: var(--clr-neutral-200);
  font-size: var(--fs-800);
  font-weight: 700;
  padding: .5em 1em;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--clr-neutral-400);
  transition: all 3s;
  box-shadow: var(--box-shadow-300);
  margin-top: .8em;
}

.join-form button:hover,
.join-form button:focus {
  background-color: var(--clr-neutral-300);
  color: var(--clr-primary-100);
  font-weight: var(--fw-700);
}

.join-img-box {
  /*background:linear-gradient(to right bottom, var(--clr-accent-600), var(--clr-bg-300)),
   url("../img/form.jpg");
  background-size: cover;
  background-position: center;*/
  
  
}

.join-img {
  object-fit: cover;
  width: auto;
  height: 100%;
  
}

.join-form *:focus {
  outline: none;
  box-shadow: var(--box-shadow-400);
  
}

/***tablets ****/

@media (min-width: 40em) {
  .join-grid {/*NOT WORKING RIGHT NOW/MIGHT DO WHEN SET UP RESP*/
    grid-template-columns: 2fr 1fr;
  }

  .join-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

  }
  .join-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*column-gap: 3.2rem;
    row-gap: 2.4rem;*/
    gap: 0em 2em;
    padding-bottom: 2em;
  }

  .join-form div:nth-child(3) {
    align-self: end;
    
  }
  
   .join-form button {
    
    align-self: end;
    margin-top: 0em;
   
   }

  .join-heading {
    align-self: center;
   
  }

  .join-form input,
  .join-form select,
  .join-form button {
    padding: 1em 1.2em;

  }
  
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {
  .join-content {
    padding: 8rem;
  }
}

/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}


/* Footer */

.footer {
  background-color: var(--clr-bg-200);
  padding: 10em 0;
  box-shadow: var(--box-shadow-300);
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4em;
}

.footer-content {
 color: var(--clr-neutral-600);/*for p in footer-content*/
 font-size: var(--fs-800);
 
 line-height: 1.3;
}

.footer-title {
  color: var(--clr-secondary-800);
  font-size: var(--fs-124);
}

.footer-nav {
  
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  text-decoration: none;
  
}

.footer-nav-list li a {
  font-weight: var(--fw-600);
  transition: all .5s;
}
.footer-nav-list li a:hover,
.footer-nav-list li a:focus {
 color: var(--clr-neutral-400);
 font-size: var(--fs-800);
}

.footer-nav-title {
  color: var(--clr-secondary-900);
  font-size: var(--fs-800);
  font-weight: var(--fw-700);
  
}

/***tablets ****/

@media (min-width: 40em) {

    .footer-container {
      flex-direction: row;
      text-align: left;
      justify-content: space-around;
    }

    .footer-content {
      font-size: var(--fs-600);
    }

    .footer-title {
      font-size: var(--fs-116);
    }
}

/*** landscape tablets 944px***/
@media (min-width: 59em) {

  

}


/***Smaller Desktops 1200px*/
@media (min-width: 75em) {

}


/**** (large) Desktop 1344px*/
@media (min-width: 84em) {

}

